





<div class="card shadow border-0 my-4">
    <div class="card-header bg-black bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Список товару</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <table id="orderTable" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>ID Замовлення</th>
                    <th>Ім'я</th>
                    <th>Номер телефону</th>
                    <th>Пошта</th>
                    <th>Статус Замовлення</th>
                    <th>Сумма</th>
                    <th></th>
                </tr>
            </thead>
        </table>

    </div>
</div>



@section Scripts{
    <script src="/js/order.js"></script>
}
